* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lilita One", sans-serif;
}
#home-sec {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  animation: changeBackground 30s infinite alternate;
  display: grid;
  place-items: center;
  position: relative;
}
@keyframes changeBackground {
  0% {
    background-image: url(../css/assets/images/click-the-color-bg-red.jpg);
  }
  25% {
    background-image: url(../css/assets/images/click-the-color-bg-orange.jpg);
  }
  50% {
    background-image: url(../css/assets/images/click-the-color-bg-yellow.jpg);
  }
  75% {
    background-image: url(../css/assets/images/click-the-color-bg-green.jpg);
  }
  100% {
    background-image: url(../css/assets/images/click-the-color-bg-blue.jpg);
  }
}
.game-title {
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.game-title-top,
.game-title-btm > span {
  font-size: 128px;
  text-shadow: 0 0 0 #000000;
  animation: RotateShadow 4s infinite ease-in-out;
  text-transform: uppercase;
}
@keyframes RotateShadow {
  0% {
    text-shadow: -10px 10px 0 #000000;
  }
  12.5% {
    text-shadow: -12px 10px 0 #000000;
  }
  25% {
    text-shadow: -10px -10px 0 #000000;
  }
  37.5% {
    text-shadow: -10px -12px 0 #000000;
  }
  50% {
    text-shadow: 10px -10px 0 #000000;
  }
  62.5% {
    text-shadow: 12px -10px 0 #000000;
  }
  75% {
    text-shadow: 10px 10px 0 #000000;
  }
  87.5% {
    text-shadow: 10px 12px 0 #000000;
  }
  100% {
    text-shadow: -10px 10px 0 #000000;
  }
}
.game-title-mid > span {
  font-size: 64px;
  text-transform: uppercase;
}
.game-title-top {
  width: fit-content;
  margin-right: auto;
}
.game-title-btm {
  width: fit-content;
  margin-left: auto;
}
.game-title-mid {
  text-align: center;
}
.color-1 {
  color: #ff0000;
}
.color-2 {
  color: #ffa500;
}
.color-3 {
  color: #ffff00;
}
.color-4 {
  color: #008000;
}
.color-5 {
  color: #00ccff;
}
.color-6 {
  color: #0000ff;
}
.color-7 {
  color: #ee82ee;
}
.color-8 {
  color: #800080;
}
.color-9 {
  color: #00ff00;
}
.color-10 {
  color: #ccff66;
}
.loading-cntnr {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loading-cntnr > p {
  font-size: 40px;
  opacity: 1;
  animation: FadeBlink 1.5s infinite;
}
@keyframes FadeBlink {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
